@font-face {
  font-family: "Codec Pro Regular";
  src: url("../../styles/fonts/CodecPro-Regular.ttf");
}

@font-face {
  font-family: "Verdana";
  src: url("../../styles/fonts/Verdana.ttf");
}

.menu_body {
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 1000;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  transition: padding 0.3s ease;

  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  box-shadow: 0px -13px 20px #000000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  height: 72px;
  width: 175px;
  transition: transform 400ms ease-in-out;
}

.logo img:hover {
  transform: scale(1);
}

.navbarToggler {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.navbarCollapse {
  display: flex;
  flex-direction: row;
}

.navList {
  display: flex;
  list-style: none;
  flex-direction: row; /* Exibe os itens como linha (row) */
  padding: 0.2em;
  margin: 0.2em;
  border-bottom-left-radius: 10%;

}

.navItem {
  margin: 0 0.5rem;
}

.navLink {
  font-family: "Codec Pro Regular";
  font-size: 20px;
  font-weight: bold;
  color: #004266;
  text-decoration: none;
  transition: color 0.2s, text-decoration 0.2s;
}

.navLink:hover {
  color: #19DD39;
  text-decoration: dashed;
}

/* Coloca o menu como as barrinhas quando o conteúdo não couber na tela */
@media (max-width: 768px) {
  .navbarCollapse {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 0; /* Menu começa oculto */
  }

  .navbarToggler {
    display: block; /* Mostra o botão do menu em telas pequenas */
  }

  .menu_active .navbarCollapse {
    display: flex;
    max-height: 500px; /* Expande o menu quando ativo */
  }

  .navList {
    flex-direction: column; /* Itens da lista serão dispostos em linha (row) */
    justify-content: center;
    width: 100%;
  }

  .navItem {
    margin: 1rem 0; /* Espaçamento vertical entre itens */
    text-align: center;
  }
}

.navbarShrink {
  padding: 0.5rem 1rem;
}


/* Barrinhas */
.burgerIcon rect {
  transition: all 0.3s ease;
}

.burgerIcon:hover rect {
  transform: scale(1.1);
}

.burgerIcon:hover rect:nth-child(1) { /* Mover a primeira barra para baixo */
  transform: translateY(5px);
}

.burgerIcon:hover rect:nth-child(2) { /* Diminuir a opacidade da segunda barra */ 
  opacity: 0.8;
}

.burgerIcon:hover rect:nth-child(3) {
  transform: translateY(-5px); /* Mover a terceira barra para cima e diminui ainda mais a opacidade */
  opacity: 0.6;
}