.partners {
    width: 100%;
    padding: 1.5rem 1.5rem 3rem;
}

.partnersSlider {
    display: block;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}

@media (max-width: 768px) {
    .partners {
        padding: 1rem 1rem 2.5rem;
    }
}
