@font-face {
  font-family: "Codec Pro Regular";
  src: url("../../styles/fonts/CodecPro-Regular.ttf");
}

.pageBody {
  background-color: #f5f5f5;
  height: 100%;
}

.text {
  font-size: 16px;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 17px;
  resize: vertical;
  font-family: 'Codec Pro Regular';
}

.submit {
  display: block;
  background-color: #19DD39;
  color: #004266;
  font-weight: bolder;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  font-family: 'Codec Pro Regular';
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 16px;
  transition: all 400ms ease-in-out;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
}

.submit:hover {
  background-color: #004266;
  color: #19DD39
}

.container {
  margin-top: 10px;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 20px;
}

.container form {
  margin-top: 20px;
  padding: 10px;
  max-width: 600px;
  margin-left: 5%;
  margin-bottom: auto;
  margin-top: auto;
}

.mapContainer {
  text-align: center;
  font-size: 19px;
  margin-right: 5%;
  margin-left: 3%;
  margin-top: 20px;
}

.mapAdress {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.map {
  margin-top: 20px;
  width: 600px;
  border: 1px solid #00426677;
}

.socialMediaArea {
  display: inline-flex;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  overflow-x: hidden;
}

.socialMediaLine1 {
  display: inline-flex;
}

.socialMediaLine2 {
  display: inline-flex;
}

@media (max-width:1024px) {
  .container {
    display: block;
  }

  .container form {
    margin-left: auto;
    margin-right: auto;
    min-width: 90%;
  }

  .mapContainer {
    margin-left: auto;
    margin-right: auto;
  }

  .map {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .submitArea {
    text-align: center;
  }

  .submit {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .socialMediaLine1 {
    display: inline-block;
  }

  .socialMediaLine2 {
    display: inline-block;
  }

  .map {
    width: 530px;
  }

  .submitArea {
    width: 100%;
  }

}

@media (max-width: 425px) {
  .map {
    width: 390px;
  }

  .mapContainer {
    margin-top: 20px;
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .map {
    width: 350px;
  }
}

@media (max-width: 320px) {
  .map {
    width: 310px;
  }
}

@media (max-width: 280px) {
  .map {
    width: 270px;
  }
}