@font-face {
  font-family: "Codec Pro Regular";
  src: url("../../styles/fonts/CodecPro-Regular.ttf");
}

@font-face {
  font-family: "Verdana";
  src: url("../../styles/fonts/Verdana.ttf");
}

.search {
  font-family: "Codec Pro Regular";
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 5px;
  width: 250px;
  line-height: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-bottom: 2px solid #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 6px #00000011; 
  text-align: center;
}