@font-face {
  font-family: "Codec Pro Regular";
  src: url("../../styles/fonts/CodecPro-Regular.ttf");
}

@font-face {
  font-family: "Verdana";
  src: url("../../styles/fonts/Verdana.ttf");
}

.title {
  font-family: 'Codec Pro Light';
  text-align: center;
  font-size: 3rem;
  color: #004266;
  margin-bottom: 30px;
  font-weight: bolder;
}

@media (max-width:1024px) {
  .title {
    font-size: 3rem;
  }
}

@media (max-width:425px) {
  .title {
    font-size: 2rem;
  }
}