@font-face {
  font-family: "Codec Pro Regular";
  src: url("../../styles/fonts/CodecPro-Regular.ttf");
}

@font-face {
  font-family: "Verdana";
  src: url("../../styles/fonts/Verdana.ttf");
}

.title {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #004266;
  font-weight: bolder;
  font-family: 'Codec Pro Light'
}

@media (max-width:1024px) {
  .title {
    font-size: 35px;
  }
}

@media (max-width:768px) {
  .title {
    font-size: 50px;
  }
}

@media (max-width:425px) {
  .title {
    font-size: 40px;
    margin-bottom: 15px;
    -ms-flex-align: center;
    word-break: keep-all;
  }
}