@font-face {
  font-family: "Codec Pro Regular";
  src: url("../../styles/fonts/CodecPro-Regular.ttf");
}

@font-face {
  font-family: "Verdana";
  src: url("../../styles/fonts/Verdana.ttf");
}

.search {
  font-family: "Codec Pro Regular";
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 5px;
  width: 350px;
  line-height: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  border-bottom: 2px solid #ffffff;
  border-radius: 20px;
  box-shadow: 1px 1px 6px #00000011; 
  text-align: center;
}

.searchIcon img {
  margin-top: 7px;
  height: 29px;
  width: 38px;
  margin-right: 10px;
}


@media (max-width: 550px){
  .search {
    margin-top: 3px;
    line-height: 25px;
    border-bottom: 0px solid #ffffff;
  }
  
  .searchIcon img {
    margin-top: 10px;
    height: 22px;
    width: 28px;
    margin-right: 5px;
  }
}

@media (max-width: 375px){
  .search{
    font-size: 13px;
    width: 260px;
  }
}