.feed_Container{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: auto;
    margin: auto;
    max-height: 480px;
    max-width: 465px;
    min-width: 320px;
    height: 480px;
    background-color:rgb(250,250,250);
    border-radius: 3%;
}
.link,.link:visited{
    color: black;
}
