@font-face {
    font-family: "Codec Pro Regular";
    src: url("fonts/CodecPro-Regular.ttf");
}
  
  @font-face {
    font-family: "Verdana";
    src: url("fonts/Verdana.ttf");
}

.sobre {
    width: 100%;
  }
  
  .aboutcard {
    justify-content: center;
    margin-top: -30px;
    width: 100%;
    display: inline-flex;
    background-color: #19DD39;
    max-height: 25000px;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  
  .img_InterPet img {
    height: 300px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #00000046;
    margin-top: auto;
    margin-bottom: auto;
    margin-top: 30px;
    
  }
  
  .sobreInfo {
    font-size: 17px;
    font-weight: lighter;
    font-family: "Verdana";
    text-align: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    max-width: 1050px;
    margin-right: 20px;
    max-height: 400px;
  }




@media (max-width: 1000px) {
  
  .img_InterPet {
    margin-top: 0px;
    width: 100%;
    text-align: center;
  }

  .img_InterPet img {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    
  }

  .sobreInfo {
    margin-left: 25px;
    margin-right: 25px;
    max-width: 900px;
    max-height: 1000px;
    padding-bottom: 20px;
  }

  .aboutcard {
    display: block;
  }
  
}


@media (max-width: 1024px) {
  .img_InterPet img {
    height: 300px;
    margin-left: 20px;
  }
}

@media (max-width: 540px) {
  .img_InterPet img {
    margin-top: 20px;
  }
}

@media (max-width: 1023px) {
  .img_InterPet img {
    height: 250px;
    margin-top: 20px;
    margin-left: 0px;
  }
}

@media (max-height: 800px) {
  .img_InterPet img {
    margin-top: 50px;
  } 
}




