@font-face {
  font-family: "Codec Pro Regular";
  src: url("fonts/CodecPro-Regular.ttf");
}

@font-face {
  font-family: "Verdana";
  src: url("fonts/Verdana.ttf");
}

.sobre {
  width: 100%;
}

.aboutcard {
  justify-content: center;
  margin-top: -30px;
  width: 100%;
  display: inline-flex;
}

.img_InterPet img {
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #00000046;
}

.sobreInfo {
  font-size: 17px;
  font-weight: lighter;
  font-family: "Verdana";
  text-align: justify;
  margin-top: 20px;
  margin-left: 40px;
  max-width: 1050px;
}

@media (max-width: 1024px) {
  .img_InterPet {
    margin-top: 50px;
    width: 100%;
    text-align: center;
  }

  .img_InterPet img {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
  }

  .sobreInfo {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
  }

  .aboutcard {
    display: block;
  }
}

@media (max-width: 768px) {
  .sobre {
    margin-top: -85px;
  }

  .sobreInfo {
    font-size: 16px;
    max-width: 700px;
  }
}

@media (max-width: 425px) {
  .img_InterPet img {
    height: 225px;
    width: 230px;
  }

  .sobre {
    margin-top: -55px;
  }

  .sobreInfo {
    font-size: 15px;
    max-width: 400px;
  }
}

@media (max-width: 375px) {
  .sobreInfo {
    font-size: 15px;
    max-width: 350px;
  }
}

@media (max-width: 320px) {
  .sobreInfo {
    font-size: 14px;
    max-width: 300px;
  }
}

@media (max-width: 280px) {
  .img_InterPet {
    height: 200px;
  }

  .sobreInfo {
    font-size: 14px;
    max-width: 260px;
  }
}