@font-face {
  font-family: "Codec Pro Regular";
  src: url("fonts/CodecPro-Regular.ttf");
}

.groupDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.mainHeader {
  margin-top: 100px;
  display: inline-flex;
  width: 100%;
  vertical-align: center;
  height: 175px;
}

.subtitleSpace {
  padding-left: 38%;
  padding-top: 47px;
  font-size: 15px;
  height: 100%;
  width: 100%;
}

.alignSubtitle {
  display: inline-flex;
  margin-left: 200%;
  margin-top: 2%;
}

.alignSubtitle {
  display: inline-flex;
  margin-left: 80%;
  margin-top: 2%
}

.alignSubtitle:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.titleBody {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #004266;
  margin-top: 30px;
  margin-bottom: 60px;
}

.containerMembers {
  text-align: center;
  display: flex;
  width: 100%;
}

.membersArea {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -20px;
}

.membersCard {
  margin: 50px;
  height: 140px;
  font-size: 14px;
  border-radius: 10px;
  width: 230px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  color: #151515;
}

.infoName {
  text-align: center;
  margin-top: 32px;
  font-size: 22px;
}

.infoCompet {
  text-align: center;
  margin-top: -20px;
  font-size: 16px;
  font-family: "Codec Pro Regular";
}

.infoRelato {
  margin-top: 10px;
  font-size: 17px;
  font-family: "Codec Pro Regular";
  color: #004266;
}

.infoRelato:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.infoScrum {
  margin-left: -85px;
  text-align: left;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: rgb(255, 14, 14);
}

.infoIntercamb {
  margin-left: -85px;
  text-align: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #19DD39;
}

.scrumMasterStr {
  margin-left: 10px;
  transform: translateY(-9%);
  color: #004266;
  font-size: 15px;
  font-family: "Codec Pro Regular";
}

.intercambioStr {
  margin-left: 10px;
  transform: translateY(-9%);
  color: #004266;
  font-size: 15px;
  font-family: "Codec Pro Regular";
}

.infoPhoto {
  width: 230px;
}

.areaPhoto {
  width: 250px;
  margin-bottom: -50px;
  display: inline-flex;
  text-align: center;
}

.foto {
  margin-top: -55px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.foto:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.alignPhotoArea {
  display: inline-flex;
}

.alignPhotoArea2 {
  margin-left: -300px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.loadArea {
  text-align: center;
  width: 100%;
}

.loadMore {
  margin-top: 30px;
  font-size: 190%;
  font-family: "Codec Pro Regular";
  max-width: 300px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.loadMore:hover .line {
  -webkit-transform: scaleX(0.5);
  transition: all 1s linear, all 1s;
}

.line {
  margin-top: -1px;
  border-radius: 90px;
  border: 5px solid #19dd39;
  background-color: #19dd39;
}

.loadMore:hover .lineRecolher {
  -webkit-transform: scaleX(0.5);
  transition: all 1s linear, all 1s;
}

.lineRecolher {
  margin-top: -1px;
  text-align: center;
  border-radius: 90px;
  border: 5px solid #004266;
  background-color: #004266;
}

@media (max-width: 1300px) {
  .titleBody {
    font-size: 35px;
    margin-bottom: 65px;
  }
  .loadMore {
    margin-top: 30px;
    font-size: 170%;
    max-width: 225px;
    min-width: 225px;
  }
}

@media (max-width: 768px) {
  .titleBody {
    font-size: 27px;
    margin-bottom: 45px;
  }
  .loadMore {
    margin-top: -10px;
    font-size: 150%;
    max-width: 225px;
    min-width: 225px;
  }
  .line {
    margin-top: -1px;
    border-radius: 90px;
    border: 4px solid #19dd39;
    background-color: #19dd39;
  }
  .lineRecolher {
    margin-top: -1px;
    border-radius: 90px;
    border: 4px solid #004266;
    background-color: #004266;
  }
}

@media (max-width: 545px) {
  .loadMore {
    margin-top: 15px;
    font-size: 120%;
    max-width: 200px;
    min-width: 200px;
  }
  .line {
    margin-top: -1px;
    border-radius: 90px;
    border: 3px solid #19dd39;
    background-color: #19dd39;
  }
  .lineRecolher {
    margin-top: -1px;
    border-radius: 90px;
    border: 3px solid #004266;
    background-color: #004266;
  }
}