@font-face {
  font-family: "Codec Pro Regular";
  src: url("fonts/CodecPro-Regular.ttf");
}

@font-face {
  font-family: "Verdana";
  src: url("fonts/Verdana.ttf");
}

.groupDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f5f5f5;
  overflow-x: hidden;
}

.mainHeader {
  margin-top: 7%;
  display: inline-flex;
  width: 100%;
  break-before: auto;
  vertical-align: center;
  height: auto;
}

.holder {
  position: absolute;
  width: 500px;
  height: 145px;
}

.subtitleSpace {
  padding-left: auto;
  padding-top: auto;
  font-size: 15px;
  height: 100%;
  width: 100%;

  overflow-x: hidden;
}

.alignSubtitle {
  display: inline-flex;
  margin-left: 80%;
  margin-top: 3%;
}


.alignSubtitle:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.infoScrum {
  text-align: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: rgb(255, 14, 14);
}

.infoIntercamb {
  text-align: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #19DD39;
  margin-top: -49px;
}

.scrumMasterStr {
  margin-left: 10px;
  transform: translateY(-9%);
  color: #004266;
  font-size: 15px;
  font-family: "Codec Pro Regular";
}

.intercambioStr {
  margin-left: 10px;
  transform: translateY(-9%);
  color: #004266;
  font-size: 15px;
  font-family: "Codec Pro Regular";
  margin-top: -40px;
}

.bodyGroup {
  margin-top: 30px;
  display: inline-flex;
  width: 100%;
}

.titleBody {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #004266;
  margin-top: 30px;
  margin-bottom: 80px;
}


.containerMembers {
  text-align: center;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}

.membersAreaTutor {
  margin-bottom: 70px;
  width: 80%;
}

.membersArea {
  margin-bottom: 70px;
  width: 100%;
}

.loadArea {
  text-align: center;
  width: 100%;
}

.loadMore {
  margin-top: -20px;
  font-size: 190%;
  font-family: "Codec Pro Regular";
  max-width: 300px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.loadMore:hover .line {
  -webkit-transform: scaleX(0.5);
  transition: all 1s linear, all 1s;
}

.line {
  background-color: #19dd39;
  margin-top: -1px;
  text-align: center;
  width: 100%;
  border-radius: 90px;
  border: 4px solid #19dd39;
  margin-bottom: 50px;
}

.loadMore:hover .lineRecolher {
  -webkit-transform: scaleX(0.5);
  transition: all 1s linear, all 1s;
}

.lineRecolher {
  margin-top: -1px;
  text-align: center;
  width: 100%;
  border-radius: 90px;
  border: 4px solid #004266;
  margin-bottom: 50px;
}

@media (max-width: 1300px) {
  .loadMore {
    font-size: 170%;
    font-family: "Codec Pro Regular";
    max-width: 250px;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .titleBody {
    font-size: 32px;
    margin-top: 30px;
  }

  .containerMembers {
    margin-top: -40px;
  }

  .loadMore {
    margin-top: -20px;
    font-size: 150%;
    font-family: "Codec Pro Regular";
    max-width: 225px;
    min-width: 225px;
  }

  .line {
    margin-top: -1px;
    border-radius: 90px;
    border: 4px solid #19dd39;
    background-color: #19dd39;
  }

  .lineRecolher {
    margin-top: -1px;
    border-radius: 90px;
    border: 4px solid #004266;
    background-color: #004266;
  }
}

@media (max-width: 1435px) {
  .mainHeader {
    margin-top: 10%;
  }
}

@media (max-width: 1060px) {
  .mainHeader {
    margin-top: 13%;
  }

  .holder {
    position: absolute;
    width: 350px;
    height: 101px;
  }

  .infoScrum {
    height: 12px;
    width: 12px;
  }

  .infoIntercamb {
    height: 12px;
    width: 12px;
  }

  .scrumMasterStr {
    font-size: 12px;
  }

  .intercambioStr {
    font-size: 12px;
  }

  .titleBody {
    font-size: 30px;
  }
}

@media (max-width: 850px) {
  .mainHeader {
    margin-top: 15%;
    display: inline;
  }

  .titleBody {
    margin-top: 30px;
  }
}

@media (max-width: 700px) {
  .mainHeader {
    margin-top: 20%;
  }

  .subtitleSpace {
    width: 100%;
  }

  .alignSubtitle {
    margin-left: 75%;
  }
}

@media (max-width: 550px) {
  .mainHeader {
    margin-top: 25%;
  }

  .holder {
    max-width: 300px;
    max-height: 300px;
  }

  .containerMembers {
    margin-top: 10px;
  }

}

@media (max-width: 350px) {
  .mainHeader {
    margin-top: 45%;
  }
}


@media (max-width: 460px) {
  .titleBody {
    margin-top: 20px;
  }

}

@media (max-width: 545px) {
  .titleBody {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .loadMore {
    margin-top: -30px;
    font-size: 110%;
    font-family: "Codec Pro Regular";
    max-width: 150px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
  }

  .line {
    margin-top: -1px;
    border-radius: 90px;
    border: 3px solid #19dd39;
    background-color: #19dd39;
  }

  .lineRecolher {
    margin-top: -1px;
    border-radius: 90px;
    border: 3px solid #004266;
    background-color: #004266;
  }
}

@media (max-width: 425px) {
  .mainHeader {
    margin-top: 30%;
  }

  .holder {
    width: 240px;
    height: 70px;
  }

  .infoScrum {
    height: 9px;
    width: 9px;
  }

  .infoIntercamb {
    height: 9px;
    width: 9px;
  }

  .scrumMasterStr {
    font-size: 9px;
  }

  .intercambioStr {
    font-size: 9px;
  }

}