.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.socialMediaContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}