.groupDiv {
  max-width: 1500px;
}

.cardContent {
  margin: 50px;
  margin-top: 20px;
  height: 140px;
  width: 230px;
  display: inline-block;
  color: #151515;
}

.membersCard {
  height: 100%;
  font-size: 14px;
  border-radius: 20px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  color: #151515;
}

.infoName {
  text-align: center;
  margin-top: 7px;
  font-size: 22px;
}

.infoCompet {
  text-align: center;
  margin-top: -20px;
  font-size: 16px;
  font-family: "Codec Pro Regular";
}

.networkGroup {
  align-items: center;
  text-align: center;
  padding-top: 20px;
  display: inline-flex;
}

.networkFavicon {
  margin: 5px;
  height: 25px;
  width: 25px;
}

.networkBlank {
  margin: 5px;
  height: 30px;
  width: 30px;
}

.networkFavicon:hover {
  transition: all 300ms ease;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.infoScrum {
  margin-left: -35px;
  text-align: left;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(255, 14, 14);
}

.infoIntercamb {
  margin-left: -35px;
  text-align: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #19DD39;
}

.photoSpace {
  width: 230px;
}

.foto {
  margin-top: -55px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.fotoSemDep {
  margin-top: -55px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.foto:hover {
  transition: all 600ms ease;
  transform: scale(1.2);
  border-radius: 42%;
}

.alignPhotoArea {
  display: inline-flex;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .cardContent {
    margin: 20px;
    margin-top: -10px;
  }
  .membersCard {
    height: 100px;
    width: 170px;
    border-radius: 20px;
  }
  .infoName {
    text-align: center;
    margin-top: 1px;
    font-size: 15px;
  }
  .infoCompet {
    text-align: center;
    margin-top: -15px;
    font-size: 14px;
    font-family: "Codec Pro Regular";
  }
  .container {
    margin-top: -20px;
  }
  .infoScrum {
    margin-left: -25px;
    text-align: left;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: rgb(255, 14, 14);
  }
  .infoIntercamb {
    margin-left: -25px;
    text-align: center;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #19DD39;
  }
  .photoSpace {
    margin-top: 20px;
    width: 170px;
  }
  .foto {
    margin-top: -35px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .fotoSemDep {
    margin-top: -35px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
}

@media (max-width: 545px) {
  .cardContent {
    margin: -20px;
    margin-top: -10px;
  }
  .container {
    margin-top: -20px;
  }
  .membersCard {
    background-color: #ffffff;
    height: 75px;
    width: 122px;
    border-radius: 20px;
  }
  .infoName {
    text-align: center;
    margin-top: -1px;
    font-size: 13px;
  }
  .infoCompet {
    text-align: center;
    margin-top: -12px;
    font-size: 10px;
    font-family: "Codec Pro Regular";
  }
  .infoScrum {
    margin-left: -20px;
    text-align: left;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: rgb(255, 14, 14);
  }
  .infoIntercamb {
    margin-left: -20px;
    text-align: center;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background-color: #19DD39;
  }
  .photoSpace {
    margin-top: 20px;
    width: 122px;
  }
  .foto {
    margin-top: -15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .fotoSemDep {
    margin-top: -15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
}