.groupDiv {
  max-width: 1500px;
  background-color: blueviolet;
}

.cardContent {
  margin: 50px;
  margin-top: 80px;
  height: 140px;
  width: 230px;
  display: inline-block;
  color: #151515;
}

.membersCard {
  height: 120%;
  font-size: 14px;
  border-radius: 20px;
  width: 120%;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  color: #151515;
  border: 1px solid #b4b4b433;
  box-shadow: 0px 0px 5px #00000033;
}

.infoName {
  text-align: center;
  margin-top: 0px;
  font-size: 22px;
}

.infoCompet {
  text-align: center;
  margin-top: -20px;
  font-size: 16px;
  font-family: "Codec Pro Regular";
}

.networkGroup {
  align-items: center;
  text-align: center;
  margin-top: 0px;
  display: inline-flex;
}

.networkFavicon {
  margin: 5px;
  height: 18px;
  width: 18px;
}

.networkBlank {
  margin: 5px;
  height: 30px;
  width: 30px;
}

.networkFavicon:hover {
  transition: all 300ms ease;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -o-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.infoScrum {
  margin-left: -35px;
  text-align: left;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: rgb(255, 14, 14);
}

.infoIntercamb {
  margin-left: -35px;
  text-align: center;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #19DD39;
}

.photoSpace {
  width: 230px;
}

.foto {
  margin-top: -66px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
}

.fotoSemDep {
  margin-top: -66px;
  width: 132px;
  height: 132px;
  border-radius: 50%;
}

.foto:hover {
  transition: all 600ms ease;
  transform: scale(1.2);
  border-radius: 42%;
}

.alignPhotoArea {
  display: inline-flex;
}

.container {
  position: relative;
  width: 120%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media (max-width: 1300px) {
  .loadMore {
    margin-top: 30px;
    font-size: 170%;
    font-family: "Codec Pro Regular";
    max-width: 250px;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .cardContent {
    margin: 50px;
    margin-top: 100px;
  }

  .membersCard {
    background-color: #ffffff;
    height: 180px;
    width: 114%;
    border-radius: 20px;
  }

  .infoName {
    text-align: center;
    margin-top: -1px;
    font-size: 20px;
  }

  .infoCompet {
    text-align: center;
    margin-top: -12px;
    font-size: 17px;
    font-family: "Codec Pro Regular";
  }

  .container {
    margin-top: -20px;
  }

  .infoScrum {
    margin-left: -20px;
    text-align: left;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: rgb(255, 14, 14);
  }

  .infoIntercamb {
    margin-left: -20px;
    text-align: center;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #19DD39;
  }

  .photoSpace {
    margin-top: 20px;
    width: 220px;
  }

  .foto {
    margin-top: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .fotoSemDep {
    margin-top: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .networkFavicon {
    margin: 3px;
    margin-top: 7px;
    height: 20px;
    width: 20px;
  }

  .networkBlank {
    margin: 3px;
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 545px) {
  .cardContent {
    margin: 50px;
    margin-top: 100px;
  }

  .container {
    margin-top: -20px;

  }

  .membersCard {
    background-color: #ffffff;
    height: 180px;
    width: 114%;
    border-radius: 20px;
  }

  .infoName {
    text-align: center;
    margin-top: -1px;
    font-size: 20px;
  }

  .infoCompet {
    text-align: center;
    margin-top: -12px;
    font-size: 17px;
    font-family: "Codec Pro Regular";
  }

  .infoScrum {
    margin-left: -20px;
    text-align: left;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: rgb(255, 14, 14);
  }

  .infoIntercamb {
    margin-left: -20px;
    text-align: center;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: #19DD39;
  }

  .photoSpace {
    margin-top: 20px;
    width: 220px;
  }

  .foto {
    margin-top: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .fotoSemDep {
    margin-top: -60px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .networkFavicon {
    margin: 3px;
    margin-top: 7px;
    height: 20px;
    width: 20px;
  }

  .networkBlank {
    margin: 3px;
    height: 20px;
    width: 20px;
  }
}

@media (max-width: 320px) {
  .cardContent {
    margin: 50px;
    margin-top: 100px;
  }

  .container {
    margin-top: -20px;
  }
}