@font-face {
  font-family: "Codec Pro Regular";
  src: url("fonts/CodecPro-Regular.ttf");
}

.menu_body {
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 110px;
  background-color: rgb(252, 252, 252);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  box-shadow: 0px -13px 20px #000000;
}

.logo img {
  margin-left: 130%;
  height: 72px;
  width: 175px;
}

.logo img:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: all 400ms ease-in-out;
}

.nav_list {
  top: 6vh;
  display: flex;
  list-style: none;
  margin-right: 7%;
  font-family: "Codec Pro Regular";
  font-size: 20px;
  font-weight: bold;
  color: #004266;
}

.link {
  margin: 20px;
}

.link:hover {
  opacity: 0.8;
  text-decoration: dashed;
  color: #19DD39;
}

.mobile_menu {
  display: none;
  cursor: pointer;
}

.mobile_menu div {
  width: 32px;
  height: 2px;
  background-color: #004266;
  margin: 8px;
}

@media (max-width: 1300px) {
  .mobile_menu {
    display: block;
    margin-right: 7%;
  }
  .nav_list {
    z-index: -1;
    position: absolute;
    top: 9vh;
    right: -80px;
    width: 40vw;
    height: 82vh;
    background: #ffffff;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-bottom-left-radius: 20%;
    border: 2px solid #d5d5d575;
  }
  .nav_list li {
    margin-left: 0;
  }
}

.nav_list.active {
  transform: translateX(0);
}

@media (max-width: 600px) {
  .logo img {
    margin-left: 30%;
  }
  .nav_list {
    width: 80vw;
    right: -37px;
    top: 8vh;
  }
}