@font-face {
  font-family: "Codec Pro Regular";
  src: url("fonts/CodecPro-Regular.ttf");
}

.content {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.listContainer {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1020px) {
  .listContainer {
    width: 50%;
    display: block;
    font-size: 500px;
  }
}

@media (max-width: 425px) {
  .content {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}