@font-face {
  font-family: "Codec Pro Regular";
  src: url("fonts/CodecPro-Regular.ttf");
}

.title {
  width: 100%;
  text-align: center;
  font-size: 40px;
  color: #004266;
  margin-top: -50px;
  margin-bottom: 30px;
  font-weight: bolder;
  font-family: 'Codec Pro Light'
}

@media (max-width:1024px) {
  .title {
    font-size: 35px;
    margin-top: 20px;
  }
}

@media (max-width:768px) {
  .title {
    font-size: 30px;
  }
}

@media (max-width:425px) {
  .title {
    margin-bottom: 15px;
  }
}