.slideContainer {
  width: 100%;
  background-color: #004266;
}

.content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.arrow {
  position: absolute;
  z-index: 2;
  top: 0;
  color: white;
  background-color: #19DD39;
  outline: none;
  width: 40px;
  height: 100%;
  cursor: pointer;
  border: 0;
  font-family: Verdana;
  font-size: 24px;
  font-weight: bold;
};

.arrow:hover {
  background-color: yellow;
}

@media (max-width: 1000px) {
  .content {
    width: 100%;
  }
}

.legend {
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  position: absolute;
  bottom: 20px;
  left: 40px;
  border-radius: 10px;
  background: #19dd3a9c;
  border: 1px solid rgba(0, 0, 0, 0.185);
  box-shadow: 0px 0px 5px #00000033;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  -webkit-transition: opacity .35s ease-in-out;
  -moz-transition: opacity .35s ease-in-out;
  -ms-transition: opacity .35s ease-in-out;
  -o-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out
}

.content:hover .legend {
  background: #19dd3ad8;
}