@font-face {
  font-family: "Codec Pro Regular";
  src: url("fonts/CodecPro-Regular.ttf");
}

.pageContent {
  overflow-x: scroll;
}

.iconImg img {
  width: 105px;
  height: 105px;
  border-radius: 52px;
  box-shadow: 0px 0px 5px #000000dc;
}

.sectionText {
  box-shadow: 0px 0px 5px #00000033;
}