@font-face {
  font-family: "Codec Pro Regular";
  src: url("fonts/CodecPro-Regular.ttf");
}
.socialMediaContainer {
  border-radius: 5px;
  border: 1px solid rgba(65, 65, 65, 0.205);
  margin: 30px;
  height: 480px;
  width: 420px;
}
.newsContainer {
  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.103);
  height: 160px;
  width: 100%;
  text-align: center;
  display: inline-flex;
}
.tituloNews{
  font-family: "Codec Pro Regular";
  font-size: 60px;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 70%;
}
.dataNews{
  font-family: "Codec Pro Regular";
  font-size: 50px;
  margin-top: auto;
  margin-bottom: auto;
  max-width: 30%;
}