@font-face {
  font-family: "Codec Pro Regular";
  src: url("../../styles/fonts/CodecPro-Regular.ttf");
}

@font-face {
  font-family: "Verdana";
  src: url("../../styles/fonts/Verdana.ttf");
}

.slideContainer {
  padding-top: 0;
  max-width: 100%;
  margin-bottom: 0;
  background-color: transparent;
  width: 100%;
}

.content {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.arrow {
  position: absolute;
  z-index: 2;
  top: 0;
  color: rgb(255, 255, 255);
  outline: none;
  width: 40px;
  height: 100%;
  cursor: pointer;
  border: 0;
  font-family: Verdana;
  font-size: 24px;
  font-weight: bold;
}

/* As dimensões máximas são as da thumbnail de maior resolução do YouTube */
.image {
  max-height: 400px;
  max-width: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.legend {
  font-family: "Codec Pro Regular";
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content:hover .legend {
  background: rgba(0, 0, 0, 0.85);
}

@media (max-width: 2560px){
  .legend{
    font-size: 33px;
    padding-top: 24px;
  }
}

@media (max-width: 1920px){
  .legend{
    font-size: 30px;
    padding-top: 22px;
  }
}

@media (max-width: 1765px){
  .legend{
    font-size: 28px;
    padding-top: 21px;
  }
}

@media (max-width: 1650px){
  .legend{
    font-size: 25px;
    padding-top: 18px;
  }
}

@media (max-width: 1485px){
  .legend{
    font-size: 22px;
    padding-top: 16px;
  }
}

@media (max-width: 1440px){
  .legend{
    font-size: 18px;
    padding-top: 14px;
  }
}

@media (max-width: 1100px){
  .legend{
    font-size: 18px;
    padding-top: 3px;
  }
}

@media (max-width: 1024px){
  .legend{
    font-size: 15px;
  }
}

@media (max-width: 1000px) {
  .content {
    width: 100%;
  }

  .legend{
    font-size: 23px;
  }
}

@media (max-width: 768px){
  .legend{
    font-size: 21px;
    height: 19%;
  }
}

@media (max-width: 600px){
  .legend{
    font-size: 19px;
    height: 22%;
  }
}

@media (max-width: 545px){
  .legend{
    font-size: 14px;
  }
}

@media (max-width: 425px){
  .legend{
    font-size: 14px;
    height: 25%;
  }
}

@media (max-width: 375px){
  .legend{
    font-size: 13px;
    height: 28%
  }
}

@media (max-width: 320px){
  .legend{
    font-size: 12px;
    height: 35%
  }
}

@media (max-width: 290px){
  .legend{
    font-size: 11px;
    height: 38%
  }
}
