@font-face {
  font-family: "Codec Pro Regular";
  src: url("../../styles/fonts/CodecPro-Regular.ttf");
}

.content {
  background-color: #f5f5f5;
}

.post {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 9%;
  padding-bottom: 3%;
  overflow: hidden;
}

.header {
  margin-bottom: 60px;
}

.title {
  font-family: "Codec Pro Regular";
  font-size: 52px;
}

.description {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  text-align: justify;
  margin-top: 20px;
  font-style: italic;
}

.content {
  text-align: justify;
}

.separator {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.dateAndAuthor {
  font-family: "Codec Pro Regular";
  font-size: 17px;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 1545px) {
  .post {
    padding-top: 12%;
  }
}

@media (max-width: 1100px) {
  .post {
    padding-top: 17%;
  }
}

@media (max-width: 820px) {
  .post {
    padding-top: 22%;
    width: 90%;
  }

  .description {
    font-size: 22px;
  }

  .dateAndAuthor {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .post {
    padding-top: 30%;
  }
}

@media (max-width: 445px) {
  .post {
    padding-top: 36%;
  }

  .title {
    font-size: 37px;
    text-align: justify;
  }

  .description {
    font-size: 20px;
  }

  .dateAndAuthor {
    font-size: 18px;
  }
}

@media (max-width: 345px) {
  .post {
    padding-top: 40%;
  }

  .title {
    font-size: 32px;
  }

  .description {
    font-size: 16px;
  }

  .dateAndAuthor {
    font-size: 14px;
  }
}

@media (max-width: 315px) {
  .post {
    padding-top: 45%;
  }

  .title {
    font-size: 28px;
  }

  .description {
    font-size: 14px;
  }

  .dateAndAuthor {
    font-size: 13px;
  }
}