@font-face {
  font-family: "Codec Pro Regular";
  src: url("../../styles/fonts/CodecPro-Regular.ttf");
}

@font-face {
  font-family: "Verdana";
  src: url("../../styles/fonts/Verdana.ttf");
}

.person {
  display: block;
  margin-bottom: 0.5rem;
}

.aboutCard {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-top: 15vh;
}


.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #004266;
  color: white;
  text-align: center;
  border-radius: 1rem;
  padding: 1rem;
  width: 10rem;
}

.title {
  display: block;
  color: #004266;
  font-size: 1.5rem;
  font-weight: bold;
}

.content {
  font-family: "Codec Pro Regular";
  margin-top: 2rem;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.peopleBlock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.header {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

@media (min-width: 930px) {
  .imageContainer {
    width: 15rem;
  }
}
