@font-face {
  font-family: "Codec Pro Regular";
  src: url("../../styles/fonts/CodecPro-Regular.ttf");
}

@font-face {
  font-family: "Verdana";
  src: url("../../styles/fonts/Verdana.ttf");
}

.aboutCard {
  background-color: #004266;
  box-shadow: 0px 0px 5px #00000017;
  width: 100%;
  display: flex;
  column-gap: 40px;
}

.sobreInfo {
  background-color: white;
  width: 100%;
  font-family: "Codec Pro Regular";
  font-size: 15px;
}

.title {
  color: #004266;
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
}

.content {
  text-align: center;
  display: flex;
  column-gap: 20px;
}

.header {
  font-size: larger;
}

.sidePanel {
  background-color: #004266;
}

.sidePanel::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 80px solid white;
  border-left: 80px solid red;
  width: 0;
}

@media (max-width: 1024px) {
  .sobreInfo {
    margin-left: auto;
    margin-right: auto;
    max-width: 60%;
    margin-top: 15px;
  }

  .aboutCard {
    margin-top: 20px;
  }
  .sobre {
    margin-bottom: -80px;
    margin-top: -19px;
  }
}

@media (max-width: 768px) {
  .sobre {
    margin-top: 20px;
  }

  .sobreInfo {
    font-size: 21px;
    max-width: 80%;
  }
}

@media (max-width: 425px) {
  .sobre {
    margin-top: -30px;
  }

  .sobreInfo {
    font-size: 20px;
    max-width: 80%;
    margin-top: -2px;
  }
}

@media (max-width: 375px) {
  .sobreInfo {
    font-size: 19px;
    max-width: 80%;
    margin-top: -10px;
  }
}

@media (max-width: 320px) {
  .sobreInfo {
    font-size: 18px;
    max-width: 80%;
  }
}

@media (max-width: 280px) {
  .img_InterPet {
    height: 200px;
  }

  .sobreInfo {
    font-size: 17px;
    max-width: 80%;
  }
}
