@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,500;1,300;1,400&display=swap');
.groupDiv {
    background-color: rgb(245, 245, 245);
}

.title {
    padding-top: 30px;
    padding-left: 50px;
    color: rgb(0, 3, 151);
    text-align: left;
    font-size: 50px;
    font-family: 'Karla', sans-serif;
}

.bodyGroup {
    display: inline-flex;
    margin-top: 12px;
}

.espHorizont {
    margin-left: 200px;
}

.membersCard {
    padding-top: 10px;
    margin: 50px;
    height: 130px;
    font-size: 14px;
    border-radius: 10px;
    width: 250px;
    background-color: #fff;
    display: inline-block;
}

.infoName {
    text-align: center;
    font-size: 22px;
}

.infoCompet {
    text-align: center;
    margin-top: -20px;
    font-size: 25px;
}

.infoScrum {
    margin-left: 10px;
    text-align: center;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: rgb(255, 14, 14);
}

.infoIntercamb {
    margin-left: 10px;
    text-align: center;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background-color: rgb(14, 207, 255);
}

.infoPhoto {
    padding-left: 50%;
}

.areaPhoto {
    background-color: rgb(200, 204, 204);
    width: 250px;
    margin-bottom: -50px;
    display: inline-flex;
}

.test1 {
    display: inline-flex;
}

.test {
    margin-left: -300px;
}