@font-face {
  font-family: "Codec Pro Regular";
  src: url("fonts/CodecPro-Regular.ttf");
}

.socialMediaContainer {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 5px #00000033;
  margin-right: 2em;
  margin-left: 2em;
  height: 480px;
  width: 480px;
  overflow-y: scroll;
  overflow-x: auto;
  border: #20202033 1px solid;
}

.socialMediaContainerTwitter {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 5px #00000033;
  margin-right: 2em;
  margin-left: 2em;
  height: 480px;
  width: 480px;
  overflow-y: scroll;
  overflow-x: auto;
  border: #20202033 1px solid;
}

.socialMediaContainerInsta {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 5px #00000033;
  margin-right: 2em;
  margin-left: 2em;
  height: 480px;
  width: 480px;
  overflow-y: scroll;
  overflow-x: auto;
  border: #20202033 1px solid;
}

.newsContainer {
  border-radius: 5px;
  border-width: 5px 5px 0 5px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  height: 135px;
  width: 100%;
  text-align: center;
  display: inline-flex;
}

.tituloNews {
  font-family: "Codec Pro Regular";
  font-size: 20px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 65%;
  font-weight: bolder;
  background-color: #f5f5f5;
  padding: 20px;
  text-align: left;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.dataNews {
  font-family: "Codec Pro Regular";
  color: white;
  margin-top: auto;
  margin-bottom: auto;
  width: 35%;
  font-weight: 50;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  font-style: italic;
  background-color: #004266;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
}

.dataNews .diaDataNews {
  font-size: 50px;
}

.dataNews .mesDataNews {
  font-size: 25px;
}

.newsContainer {
  transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
}

.newsContainer:hover {
  border: 2px solid #004266;
}

@media (max-width: 1620px) {
  .socialMediaContainer {
    margin-bottom: 14%;
  }
}

@media (max-width: 1080px) {
  .socialMediaContainer {
    margin-bottom: 10%;
  }
}

@media (max-width: 550px) {
  .socialMediaContainer {
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }

  .socialMediaContainerTwitter {
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }

  .socialMediaContainerInsta {
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }

  .tituloNews {
    font-size: 17px;

  }

  .dataNews {
    font-size: 40px;
  }
}

@media (max-width: 425px) {
  .socialMediaContainer {
    margin-bottom: 10%;
  }
}
@media (max-width: 375px) {
    .socialMediaContainerTwitter {
      width: 300px;
    }
}
@media (max-width: 375px) {
  .socialMediaContainer {
    width: 300px;
  }

  .tituloNews {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .socialMediaContainer {
    width: 240px;
  }
  .socialMediaContainerTwitter {
    width: 240px;
  }
  .tituloNews {
    font-size: 15px;
  }

  .dataNews {
    font-size: 30px;
    width: 34%;
  }
}

@media (max-width: 280px) {
  .socialMediaContainer {
    width: 240px;
  }

  .tituloNews {
    font-size: 15px;
  }

  .dataNews {
    font-size: 30px;
    width: 34%;
  }
}